.Equipo{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 32px;
    font-size: 32px;
    position: relative;
    
}

.input__color{
    position: absolute;
    top: 20px;
    right: 50px;
}

.Equipo h3 {
    font-weight: 400;
    color: #212121;
    border-bottom: 4px solid ;
    display: inline-block;
    padding-bottom: 8px;
}
.Colaboradores {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
